/* Effective stylesheet produced by snapshot save */
#dod_wrapper { position: relative; width: 960px; margin-top: 10px; }
.dod_top { position: relative; width: 960px; height: 220px; }
.cdt_spot_div { width: 260px; border-bottom: 1px solid rgb(195, 196, 196); margin: 0px 20px; }
.image_nav { padding-top: 10px; }
.image_nav dl { float: left; padding: 0px 15px; text-align: center; width: 123px; }
.image_nav dd { margin-bottom: 30px; }
